:root {
  --c-prymary-brand: #4d5ae5;
  --c-pressed-state: #404bbf;
  --c-dark: #2e2f42;
  --c-cloud: #f4f4fd;
  --c-success: #31d0aa;
  --c-text: #434455;
  --c-white: #fff;
  --c-background-accent: #e7e9fc;
  --c-background-hero: #2e2f42;
  --c-background-white: #ffffff;
  --c-background-light: #f4f4fd;
  --c-background-ocean: #404bbf;
  --c-background-prymary-brand: #4d5ae5;
  --c-background-darck: #1e1823;
  --c-background-modal: #fcfcfc;
  --c-border: #8e8f99;
}

/*Base*/

body {
  font-family: Roboto, sans-serif;
  color: var(--c-text);
  background-color: var(--c-background-white);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.section {
  /* padding: 120px 0;*/
  padding: 96px 0;
 
}
.container {
  /* width: 1158px;*/
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto; 
}
.images {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.title-secondary {
  margin-bottom: 72px;
  color: var(--c-dark);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/*header*/
.header-inner {
  display: flex;
  flex-grow: 1;
  max-width: 320px;
  align-items: center;
 /* margin-left: 16px;*/
  padding: 0;
  /*justify-content: space-between;*/
}
.header-border {
  display: flex;
  margin: 0;
  border-bottom: 1px solid var(--c-background-accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-logo {
 display: inline-block;
 /* margin-right: 76px;*/
 /* padding: 24px 0;*/
 padding: 16px 0;
 margin-left: 16px;
  font-family: Raleway, sans-serif;
  color: var(--c-prymary-brand);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--c-dark);
}
.nav-list {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 40px;
  justify-content: center;
}

.nav-list-link {
 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio {
  display: block;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: var(--c-pressed-state);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-studio::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: var(--c-background-ocean);
  border-radius: 2px;
}

.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: var(--c-dark);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
 font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--c-pressed-state);
}
.norm {
  font-style: normal;
  display: flex;
}

.address-menu {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 40px;
  justify-content: center;
}
.adress-link {
  color: var(--c-text);
  text-decoration: none;
  /*font-size: 16px;*/
  font-size: 12px;
  font-style: normal;
  /*line-height: 1.5;*/
  line-height: 1.17;
  /* letter-spacing: 0.02em; */
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--c-pressed-state);
}

.menu-toggle {
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
  stroke: var(--c-text);
  background-color: transparent;
  margin-left: auto;
  padding: 16px;
}
/*END header*/

/*Main*/
/*section 1*/
.section-hero {
  margin: 0 auto;
  background-color: var(--c-background-hero);
  /*padding: 188px 0;*/
  list-style: none;
  justify-content: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mob.jpg);
  /*max-width: 1440px;*/
  width: 100%;
  max-width: 320px; 
  height: 100%;
  padding: 72px 16px 72px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media only screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mob@2x.jpg);
  }
}
@media only screen and (min-width:768) and (min-resolution: 192dpi) {
  .section-hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_tab@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
 .section-hero {
  max-width: 768px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_tab.jpg);
 } 
}
@media screen and (min-width: 1440px) {
  .section-hero {
   max-width: 1440px;
   background-image: linear-gradient(
       rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)
     ),
     url(../images/hero/Dark-bg_desc.jpg);
  } 
 }
 @media only screen and (min-width:1440) and (min-resolution: 192dpi) {
  .section-hero {
    max-width: 1440px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_desc@2x.jpg);
  }
}
.hero-title {
  margin: 0 auto;
 /* margin-bottom: 48px;*/
 margin-bottom: 72px;
  /*max-width: 496px;*/
  max-width: 200px;
  color: var(--c-white);
  /*font-size: 56px;*/
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  /*line-height: 1.07;*/
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  color: var(--c-white);
  background-color: var(--c-background-prymary-brand);
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--c-background-ocean);
}
/*END section 1*/

/*section 2*/

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.advantage-list-secondary {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 72px;
 
}
.icon-hidden {
  display: none;
}
.advantage-item {
  border-radius: 0px 0px 4px 4px;
  /*flex-basis: calc((100% - 72px) / 4);*/
  flex-basis: 100%;
  
}
.advantage-title-secondary {
  color: var(--c-text);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px; 
}
.advantage-title {
  margin-bottom: 8px;
  color: var(--c-background-hero);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
 
}
.advantage-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--c-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
 
}
.advantage-text-secondary {
  font-size: 16px;
  font-weight: 500;
  color: var(--c-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/*END 2*/

/*section 3*/
.section-team {
 /* padding: 120px 0;*/
  padding: 96px 0;
  background-color: var(--c-background-light);
}
.photo-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  row-gap: 72px;
}
.photofon {
  border-radius: 0px 0px 4px 4px;
 /* width: calc((100% - 72px) / 4);*/
  background-color: var(--c-background-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name {
  padding: 32px 0;
  text-align: center;
}

.advantage-image {
  width: 40px;
  height: 40px;
}

.social-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-background-prymary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons:hover {
  background-color: var(--c-background-ocean);
}
.social-icons:focus {
  background-color: var(--c-background-ocean);
}
.social-icons-svg {
  fill: var(--c-cloud);
}

/*END section 3*/
/*section 4*/

.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 24px;
   row-gap: 48px;
}
.portfolio-item {
  flex-basis: 100%;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}
.portfolio-images {
  display: block;
  position: relative;
  overflow: hidden;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay {

  padding: 40px 32px;
  background-color: var(--c-background-prymary-brand);
  color: var(--c-cloud);
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantage-text-portfolio {
  font-size: 16px;
  font-weight: 500;
    color: var(--c-text);
    line-height: 1.5;
    letter-spacing: 0.02em;
   
  }

.portfolio-caps {
  padding: 32px 16px;
  border: 1px solid var(--c-background-accent);
  border-top: none;
}
/*END section portfolio*/

/*footer*/
.section-footer {
  padding: 96px 0;
  background-color: var(--c-background-hero);
}
.container-footer {
  display: flex;
  row-gap: 72px;
 justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
 /* width: 1158px;*/
 max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.div-footer {
 /* margin-right: 120px;*/
 margin: 0 auto;
}
.logo-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  color: var(--c-prymary-brand);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent-footer {
  color: var(--c-cloud);
}
.footer-text {
  /*max-width: 264px;*/
  max-width: 320px;
  color: var(--c-cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-media {
  color: var(--c-white);
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.div-footer-media {
 /* margin-right: 80px;*/
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.footer-image {
  width: 40px;
  height: 40px;
}
.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.footer-icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-background-prymary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons:hover {
  background-color: var(--c-success);
}
.footer-icons:focus {
  background-color: var(--c-success);
}

.footer-svg {
  fill: var(--c-cloud);
}
.telegram {
  margin-left: 16px;
}
.footer-label {
  width: 100%;
}
.footer-input {
  color: var(--c-white);
  border: 1px solid var(--c-white);
  border-radius: 4px;
 /* width: 264px;*/
  width: 100%;
  height: 40px;
  background-color: var(--c-background-hero);
  padding-left: 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.button-telegram {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: var(--c-background-prymary-brand);
  border-radius: 4px;
  padding: 8px 24px;
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/*END section-footer*/


/*Modal*/

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  padding: 8px 16px;
  inset: 0;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%;
  padding: 72px 16px 10px; /* gor pading 24px*/
  background-color: var(--c-background-modal);
  border-radius: 4px;
  max-width: 320px;
  max-height: 624px;

}

.is-hidden {
  opacity: 0;
  visibility: is-hidden;
  pointer-events: none;
  }
.svg-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-background-accent);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  fill: var(--c-white);
  background-color: var(--c-background-ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.modal-close:focus {
  background-color: var(--c-background-ocean);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--c-white);
  border: none;
}
.call-back {
  color: var(--c-dark);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
}
.send-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  color: var(--c-white);
  background-color: var(--c-background-prymary-brand);
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy {
  text-decoration: underline;
  color: var(--c-prymary-brand);
}

.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: var(--c-border);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}
/*
.modal-input:hover {
  outline: none;
  border-color: var(--c-background-prymary-brand);
}
.modal-input:hover + .icon-contact {
  fill: var(--c-background-prymary-brand);
}
.modal-input:focus + .icon-contact {
  fill: var(--c-background-prymary-brand);
  outline: none;
}
.modal-input:focus {
  border-color: var(--c-background-prymary-brand);
}*/
.modal-input-wrap {
  position: relative;
}
.icon-contact {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.modal-textarea {
  resize: none;
  height: 120px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--c-border);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment {
  margin-bottom: 16px;
}
.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}
.svg-privasy {
  display: none;
}
.modal-policy {
  display: flex;
  align-items: center;
gap: 8px;
  margin-bottom: 24px;
  color: var(--c-prymary-brand);
}

.modal-checkbox-check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  fill: var(--c-cloud);
  background-color: var(--c-cloud);
  min-width: 16px;
  min-height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-policy {
  color: var(--c-border);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-check-input:checked + .modal-checkbox-check {
  background-color: var(--c-background-ocean);
  border: 1px solid var(--c-border);
  border-radius: 2px;
  fill: var(--c-cloud);
}

/*END Modal*/

/* Menu container */

.menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  transform: translateX(0%);
  top: 0;
  left: 0;
  background-color: var(--c-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-hidden {
  transform: translateX(100%);
}
.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-background-accent);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  }
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

  .mobile-menu-link {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--c-dark);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-contacts {
    margin-bottom: 48px;
  }
  .mobile-menu-link.current {
    color: var(--c-pressed-state);

  }
  .mobile-cotacts-item:not(:last-child) {
margin-bottom: 24px;
  }
  .mobile-contacts-link {
    display: inline-block;
    color: var(--c-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .mobile-contacts-link.accent {
    color: var(--c-pressed-state);
  }
  .menu-social-icons {
    width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-background-prymary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-advantage-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
  }
  .menu-advantage-image {
    width: 40px;
    height: 40px;
  }

 .is-hidden {
  display: none;
 }

/*END Menu container */

/*@media momile*/

@media screen and (min-width: 768px) and (max-width:1157.8px) {
  .advantage-item {
    min-width: 356px;
      
    } 
}

@media screen and (max-width: 767.8px) {
  
  .norm {
    display: none;
  }
  .nav-list {
    display: none;
  }
  .hero-title {
    text-transform: capitalize;
   }
   .modal {
    overflow-y: auto;
   }
   .portfolio-image {
    width: 288px;
  }
  
}

@media screen and (max-width: 1157.8px) {
 
  .portfolio-overlay {
    display: none;
  }
}
@media screen and (min-width: 320px) {

  .header-border {
  margin: 0 auto;
 }

.advantage-item {
  max-width: 320px;
}
.modal {
  max-width: 320px;
  margin: 0 auto;
}

}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .container-hero {
    max-width: 768px;
  }
  .header-inner {
    display: flex;
    justify-content: space-between;
    gap: 24;
  }
  .link-logo {
    margin-right: 120px;
    margin-left: 16px;
  }
  .menu-toggle  {
    display: none;
  }
  .address-menu {
    flex-direction: column;
    gap: 12px;
    padding-right: 16px;
  }
  .section-hero {
    max-width: 768px;
    padding-bottom: 112px;
    padding-top: 112px;
  }
  .hero-title {
    max-width: 496px;
    max-height: 120px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .photofon {
   flex-basis: calc((100% - 24px) / 2);
   max-width: 264px;
  }
  
  .portfolio-list {
    row-gap: 72px;
  }
 
  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 360px;
  }
  
  .advantage-item {
    flex-basis: calc((100% - 24px) / 2);
    
  }
  .container-footer {
    max-width: 768px;
    justify-content: left;
    padding-left: 108px;
    gap: 72px 24px;
  }
  .div-footer {
    max-width: 264px;
    margin: 0;
  }
  .logo-footer {
    justify-content: left;
  }
  .div-footer-media {
   display: block;
   justify-content: left;
   margin: 0;
  }
  .footer-subscribe {
    display: block;
  }
  .footer-form {
    gap: 24px;
  }
  .footer-label {
    width: 264px;
  }
  .footer-input {
    width: 264px;
  }
  .backdrop {
    padding: 0;
    margin: 0;
  }
  .modal {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 408px;
    max-height: 584px;
 
   
  }
  .menu-container  {
    display: none;
  }
 
}


@media screen and (min-width: 1158px) {
  
  .link-logo {
    margin-right: 76px;
      margin-left: 0px;
  }
  
  .address-menu {
    flex-direction: row;
    padding-right: 0px; 
  }
   .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-menu {
    display: flex;
    gap: 40px;
  }
.container-hero {
  max-width: 1440px;
}
  .photofon {
   flex-basis: calc((100% - 72px) / 4);
  }
  .section-team {
    padding: 120px 0;
   
  }
  .section {
    padding: 120px 0;
   
  }
  .section-hero {
    max-width: 1440px;
  }
  .advantage-title-secondary {
    color: var(--c-background-hero);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  }
  .icon-hidden {
    display: block;
  }
  .advantage-text-secondary {
    color: var(--c-dark);
    font-weight: 400;
  }
  .advantage-item {
    /*flex-basis: calc((100% - 72px) / 4);*/
    flex-basis: calc((100% - 72px) / 4);
    max-width: 264px;
  }
  .portfolio-list {
    row-gap: 48px;
}

  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
    max-width: 360px;
  }
  .advantages-icons {
    display: flex;
    gap: 24px;
  }
  .section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container-footer {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: left;
    gap: 72px 0px;
  }
  .advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: var(--c-background-light);
    border: 1px solid var(--c-border);
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .div-footer-media {
    margin-right: 80px;
  }
  .div-footer {
 margin-right: 120px;
 padding-left: 0;
}

.modal {
  max-width: 408px;
  max-height: 584px;
}
.modal-input:hover {
  outline: none;
  border-color: var(--c-background-prymary-brand);
}
.modal-input:hover + .icon-contact {
  fill: var(--c-background-prymary-brand);
}
.modal-input:focus + .icon-contact {
  fill: var(--c-background-prymary-brand);
  outline: none;
}
.modal-input:focus {
  border-color: var(--c-background-prymary-brand);
}
.modal-textarea:hover {
  outline: none;
  border-color: var(--c-background-prymary-brand);
}
.modal-textarea:focus {
  outline: none;
  border-color: var(--c-background-prymary-brand);
}
}
/*END @media momile
